/*
	Theme Name: Photogenik
	Author: Stuart Last
	Author URI: http://stulast.co.uk
	Description: Basic Wordpress Theme
	Version: 1.0
*/

body {
	background: #000;
	color:#fff;
}

header input {
  margin-top: 15px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px; 
}

input {
	color: #333;
}

.post {
	padding: 20px;
}

.post img {
	width: 100%;
	height: auto;
}

.pic {
	text-align: center;
}

.pic img { 
	width: 100%;
	height: 100%;
}

.pic p {
	display: inline-block;
	padding: 0 10px;
}

footer {
	text-align: center;
	margin-top: 40px;
	border-top: #333 solid 1px;
}

